.header__nav .nav__list {
  padding-top: 10px;
}

.zoos {
  background: var(--base);
}

.zoos__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sidebar {
  padding-top: 103px;
  padding-bottom: 103px;
  position: -webkit-sticky;
  position: sticky;
}

.carousel-container-zoos {
  position: -webkit-sticky;
  position: sticky;
  top: 103px;
  bottom: 103px;
  width: 100%;
}

.carousel-zoos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 209px;
  height: 520px;
  margin: -5px 0;
}

.carousel__item {
  margin: 5px 0;
}

.up-arrow {
  top: -36px;
  left: calc(50% - 11px);
}

.down-arrow {
  bottom: -36px;
  left: calc(50% - 11px);
}

.main {
  padding: 60px 0 100px;
  margin: 0 auto;
}

.main__title {
  text-align: left;
  margin-bottom: 40px;
}

.broadcast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -210px;
}

.broadcast__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.broadcast__main-video {
  margin-bottom: 23px;
}

.broadcast__preview-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -13px 28px;
}

.preview-video__item {
  margin: 0 13px;
  position: relative;
}

.preview-video__item::after {
  content: '';
  top: 0;
  right: 0;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
}

.broadcast__description {
  padding-top: 95px;
  max-width: 380px;
}

.broadcast__subtitle {
  margin-bottom: 6px;
}

.broadcast__text {
  margin-bottom: 13px;
}

.broadcast__text_last {
  margin-bottom: 35px;
}

.broadcast__btn {
  max-width: 194px;
  margin-left: 0;
  font-weight: 900px;
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  margin: 0 auto;
  cursor: pointer;
}

.switcher__dot {
  width: 8px;
  height: 8px;
  background: var(--grey_5);
  border-radius: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.switcher__dot_active {
  width: 11px;
  height: 11px;
  background: var(--base) _gradient;
}

.switcher__dot:not(.switcher__dot_active):hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1919px) {
  .big-wrapper {
    width: 75%;
  }
  .carousel {
    margin: -5px 0;
  }
  .carousel-zoos {
    height: 450px;
    width: 152px;
  }
  .carousel__item {
    width: 96px;
    height: 96px;
    margin: 5px 0;
  }
  .carousel__image {
    width: 96px;
    height: 96px;
  }
  .carousel__item_active {
    width: 120px;
    height: 120px;
  }
  .carousel__item_active .carousel__image {
    width: 104px;
    height: 104px;
  }
  .carousel__item_active::before {
    width: 120px;
    height: 120px;
  }
  .carousel__item_active::after {
    width: 114px;
    height: 114px;
  }
  .broadcast {
    margin-left: -150px;
  }
  .broadcast__video {
    margin-right: 20px;
  }
  .broadcast__main-video {
    width: 527px;
    height: 297px;
    margin-bottom: 30px;
  }
  .broadcast__main-video iframe {
    width: 100%;
    height: 297px;
  }
  .broadcast__preview-video {
    margin: 0 -9px 28px;
  }
  .preview-video__item {
    width: 164px;
    height: 94px;
    margin: 0 9px;
  }
  .preview-video__item iframe {
    width: 100%;
    height: 94px;
  }
  .broadcast__description {
    max-width: 253px;
  }
  .broadcast__text {
    margin-bottom: 17px;
  }
  .broadcast__text_last {
    margin-bottom: 20px;
  }
  .broadcast__btn {
    max-width: 185px;
  }
}

@media (max-width: 1199px) {
  .big-wrapper {
    width: 93.75%;
  }
  .zoos {
    padding-top: 94px;
  }
  .broadcast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel-zoos {
    height: 340px;
    width: 104px;
  }
  .carousel__item {
    width: 70px;
    height: 70px;
  }
  .carousel__image {
    width: 70px;
    height: 70px;
  }
  .carousel__item_active {
    width: 90px;
    height: 90px;
  }
  .carousel__item_active .carousel__image {
    width: 78px;
    height: 78px;
  }
  .carousel__item_active::before {
    width: 90px;
    height: 90px;
  }
  .carousel__item_active::after {
    width: 84px;
    height: 84px;
  }
  .broadcast {
    margin-left: 15px;
  }
  .main {
    padding-bottom: 80px;
  }
  .main__title {
    padding-left: 10px;
    margin-bottom: 38px;
  }
  .broadcast__video {
    margin-bottom: 50px;
  }
  .broadcast__main-video {
    max-width: 497px;
    max-height: 280px;
    margin-bottom: 15px;
  }
  .broadcast__main-video iframe {
    height: 280px;
  }
  .broadcast__preview-video {
    margin: 0 -8px 28px;
  }
  .preview-video__item {
    width: 155px;
    height: 89px;
    margin: 0 8px;
  }
  .preview-video__item iframe {
    height: 89px;
  }
  .broadcast__description {
    max-width: 497px;
    padding: 0;
  }
  .broadcast__text {
    margin-bottom: 13px;
  }
  .broadcast__text_last {
    margin-bottom: 30px;
  }
}

@media (max-width: 639px) {
  .big-wrapper {
    width: 93.75%;
  }
  .sidebar {
    padding: 65px 0;
  }
  .carousel-zoos {
    height: 205px;
    width: 75px;
    margin: -2.5px 0;
  }
  .carousel__item {
    width: 40px;
    height: 40px;
    margin: 2.5px 0;
  }
  .carousel__image {
    width: 40px;
    height: 40px;
  }
  .carousel__item_active {
    width: 65px;
    height: 65px;
  }
  .carousel__item_active .carousel__image {
    width: 55px;
    height: 55px;
  }
  .carousel__item_active::before {
    width: 65px;
    height: 65px;
  }
  .carousel__item_active::after {
    width: 59px;
    height: 59px;
  }
  .up-arrow {
    top: -26px;
  }
  .down-arrow {
    bottom: -30px;
  }
  .main {
    padding: 33px 0 60px;
  }
  .main__title {
    font-size: 24px;
    line-height: 28px;
    padding-left: 7px;
    margin-bottom: 20px;
  }
  .broadcast {
    margin-left: 20px;
  }
  .broadcast__video {
    margin-bottom: 30px;
  }
  .broadcast__main-video {
    max-width: 205px;
    max-height: 116px;
    margin-bottom: 10px;
  }
  .broadcast__main-video iframe {
    height: 116px;
  }
  .broadcast__preview-video {
    margin: 0 -4.5px 20px;
  }
  .preview-video__item {
    width: 98px;
    height: 56px;
    margin: 0 4.5px;
  }
  .preview-video__item iframe {
    height: 56px;
  }
  .preview-video__item:last-child {
    display: none;
  }
  .broadcast__description {
    max-width: 205px;
  }
  .broadcast__subtitle {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }
  .broadcast__text {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }
}
/*# sourceMappingURL=zoos.css.map */