@import '../../css/variables';

.map-block {
  background: $base;

  &__inner {
    padding: 60px 0 100px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    display: block;
    max-width: 790px;
    margin: 0 auto 50px;
  }
}

.carousel {
  // position: relative;
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.carousel__item {
  position: relative;
  flex-shrink: 0;  
  width: 108px;
  height: 108px;
  margin: 0 15px;
  border-radius: 50%;
  transition: all .4s;
  cursor: pointer;
}

.carousel__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 108px;
  height: 108px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel__item_active {
  position: relative;
  width: 157px;
  height: 157px;
  margin: 0 -10px;
  z-index: 2;
  cursor: default;

  .carousel__image {
    width: 137px;
    height: 137px;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 151px;
    height: 151px;
    border-radius: 50%;
    background: $base;
    z-index: 1;
  }
}


// .carousel__border {
//   position: relative;
//   width: 157px;
//   height: 157px;
//   border: double 3px transparent;
//   border-radius: 50%;
//   background-image: linear-gradient(white, white), linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
//   background-origin: border-box;
//   background-clip: content-box, border-box;
// }

// .carousel__item {
//   position: relative;
//   width: 108px;
//   height: 108px;
//   margin: 0 15px;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: all .4s; 

//   &_gorilla {
//     background: url(../../assets/images/map-slider-gorilla.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_panda {
//     background: url(../../assets/images/map-slider-panda.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_crocodile {
//     background: url(../../assets/images/map-slider-crocodile.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_eagle {
//     background: url(../../assets/images/map-slider-eagle.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_tiger {
//     background: url(../../assets/images/map-slider-tiger.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_elephant {
//     background: url(../../assets/images/map-slider-elephant.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_lion {
//     background: url(../../assets/images/map-slider-lion.jpg) no-repeat center center;
//     background-size: cover;
//   }

//   &_zebra {
//     background: url(../../assets/images/map-slider-zebra.jpg) no-repeat center center;
//     background-size: cover;
//   }
// }

// .carousel__item_active {
//   position: absolute;
//   width: 137px;
//   height: 137px;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   cursor: default;
// }

.carousel__item:hover:not(.carousel__item_active) {
  transform: scale(1.15);
}

.carousel__range {
  margin-bottom: 80px;
}

.carousel-container {
  position: relative;
}

.carousel-map {
  max-width: 1100px;
  margin: 0 auto 33px;
}

.left-arrow-map {
  top: calc(50% - 15px);
  left: 220px;
}

.right-arrow-map {
  top: calc(50% - 15px);
  right: 214px;
}

.map_page {
  margin-bottom: 46px;
}

.map__pin_panda {
  background: url(../../assets/icons/pin-red.svg) no-repeat;
}

.map__pin {
  &_eagle {
    top: 16%;
    left: 11%;
  }

  &_crocodile {
    top: 21%;
    left: 20.5%;
  }

  &_gorilla {
    top: 38%;
    left: 47.5%;
  }

  &_panda {
    top: 20%;
    left: 75.5%;
  }
}

@import 'map-1200px'