body {
  padding: 100px;
}

/* .box {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 137px;
  height: 137px;
  border-radius: 50%;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 137px;
  height: 137px;
  object-fit: cover;
} */

/* .box::before {
  content: '';
  position: absolute;
  width: 157px;
  height: 157px;
  background: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
} */
.wrapper {
  box-sizing: border-box;
  position: relative;
  width: 157px;
  height: 157px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  opacity: 1;
  transition: all .4s;
}

.box {  
  position: absolute;
  width: 137px;
  height: 137px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url(../../../assets/images/panda-opt.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.box:hover .wrapper {
  opacity: 1;
}


