//подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap');

@import 'variables';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 117%;
  font-weight: 400;
  color: $grey_1;
}

.big-wrapper {
  max-width: 1620px;
  margin: 0 auto;
}

.medium-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 790px;
  margin: 0 auto;
}

// header style

.header {
  background-color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 83px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: $grey_1;

    &_active {
      padding-bottom: 3px;
      font-weight: 900;
      border-bottom: 1px solid $grey_1;
      cursor: default;
    }
  }
}

// switcher

.switch {
  &__box {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;
    border-radius: 190px;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 6px;
      bottom: 5px;
      background-color: $white;
      border-radius: 50%;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  &__input:checked+.switch__slider {
    background-color: $grey_2
  }

  &__input:checked+.switch__slider::before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
    background-color: #1B1B1B;
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
  }
}

// first-screen style

.first-screen {
  height: 940px;
  background: url("../assets/images/main-bg.jpg") no-repeat;
  background-size: cover;

  &__title {
    max-width: 793px;
    margin-bottom: 37px;
    padding-top: 206px;
    font-size: 89px;
    font-weight: 900;
    line-height: 104px;
    color: $base;
  }

  &__medium-wrapper {
    margin-bottom: 216px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;
  margin: 0 auto;
  ;
  font-size: 18px;
  color: $base;
  text-transform: uppercase;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border: none;
  border-radius: 3px;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.watch-btn {
  justify-content: start;
  padding-left: 76px;
  background: url("../assets/icons/watch-btn.svg") no-repeat 39px center, linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.first-watch-btn {
  margin: 0;
}

.social {

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// slider

.slider {
  position: absolute;
  top: 500px;
  left: 50%;
  right: 0;
  overflow: hidden;
  z-index: 1000;

  &::before {
    content: url("../assets/icons/line.svg");
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  &__container {
    padding-left: 135px;
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 46px;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      .slider__picture {
        width: 245px;
        height: 352px;
        margin-bottom: 20px;
      }
    }
  }

  &__picture {
    width: 140px;
    height: 203px;
    border-radius: 5px;
    box-shadow: 5px 4px 50px rgba(152, 157, 198, 0.25);
  }
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    appearance: none;
    width: 245px;
    height: 5px;
    margin-top: 14px;
    background: rgba(189, 189, 189, 0.57);
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 10px;
      background: $grey_1;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 30px;
      height: 10px;
      background: $grey_1;
      cursor: pointer;
    }
  }

  &__max {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 900;
    color: $grey_4;
  }

  &__value {
    font-size: 24px;
    line-height: 28px;
    color: $grey_1;
  }
}

.first-screen-range {
  .range__value {
    color: $base;
  }

  .range__input::-webkit-slider-thumb {
    background: $base;
  }

  .range__input::-moz-range-thumb {
    background: $base;
  }
}

// How it works

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.how-it-works {
  padding-top: 100px;

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.how-it-works-slider {
  &__container {
    margin-bottom: 30px;
  }
}

.how-it-works-range {
  margin-bottom: 32px;

  .range__input {
    margin-top: 14px;

    &::-webkit-slider-thumb {
      width: 62px;
      background: $grey_1;
    }

    &::-moz-range-thumb {
      width: 62px;
      background: $grey_1;
    }
  }
}

.how-it-works-btn {
  margin-bottom: 101px;
}

// what-is-inspiring-us

.what-is-inspiring-us {
  background-color: $grey_6;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;

}

.subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin-bottom: 100px;

  &__icon {
    margin-bottom: 15px;
    flex: 0 0 20px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 32px;
  }
}

// pets in zoo

.pets-in-zoo {
  padding-top: 100px;
}

.pets-in-zoo-title {
  margin-bottom: 35px;
}

.pets-in-zoo-slider {
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;

  &__item {
    margin-right: 30px;
  }

  &__picture {
    width: 277px;
    height: 399px;
    border-radius: 5px;
  }
}

.pets-in-zoo-range {
  margin-bottom: 30px;
}

.pets-in-zoo-btn {
  margin-bottom: 100px;
}

// pay and feed

.pay-and-feed {
  background: $grey_6;
  padding-bottom: 100px;

  &__title {
    padding-top: 100px;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 92px;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  &__icon {
    margin-bottom: 18px;
  }

  &__text {
    max-width: 136px;
    text-align: center;
  }
}

.gradient-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 245px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 50%;
}

.white-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 239px;
  background: $grey_6 center;
  border-radius: 50%;
}

// Testimonials

.testimonials {
  padding: 100px 0;

  &__title {
    margin-bottom: 61px;
  }
}

.testimonials-slider {
  display: flex;
  margin-bottom: 49px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  padding: 47px 72px 106px;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;

  &:last-child {
    margin-right: 0;
  }

  &__photo {
    width: 68px;
    height: 68px;
    margin-bottom: 17px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px #BDBDBD inset;

    &-1 {
      background: url("../assets/icons/user.svg") center no-repeat;
    }

    &-2 {
      background: url("../assets/images/user.jpg") center no-repeat;
      background-size: cover;
    }
  }

  &__author {
    margin-bottom: 17px;
  }
}

.testimonials-range {
  margin-bottom: 30px;
}

// map

.map-section {
  padding: 100px 0;
  background: $grey_6;

  &__title {
    margin-bottom: 60px;
  }
}

.map {
  margin-bottom: 35px;
}

// footer

.footer {
  padding: 99px 0 72px;
  background: $grey_1;

  &__inner {
    display: flex;
    margin-bottom: 45px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    position: relative;
    width: 50%;
    padding-top: 20px;
    padding-left: 15px;
  }

  &__logo {
    margin-bottom: 67px;
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $grey_4;

    &_uppercase {
      text-transform: uppercase;
    }

    &_base {
      color: $base;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.form {
  width: 383px;

  &__title {
    margin-bottom: 30px;
    color: $base;
  }

  &__input {
    display: block;
    width: 100%;
    padding-bottom: 9px;
    background: none;
    border: none;
    border-bottom: 1px solid $grey_4;

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $grey_4;
    }
  }

  &__name {
    margin-bottom: 20px;
  }

  &__email {
    margin-bottom: 23px;
  }

  &__legend {
    padding: 0 3px;
  }

  &__fieldset {
    height: 120px;
    padding: 3px;
    margin-bottom: 25px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
  }

  &__textarea {
    width: 100%;
    resize: none;
    background: none;
    border: none;
  }

  &__submit {
    display: block;
    width: 110px;
    margin-right: 13px;
    margin-left: auto;
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    color: $base;
    background: none;
    background: url(../assets/icons/submit-arrow.svg) right center no-repeat;
    border: none;
  }
}

// checkbox

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.form__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 6px;
  border: 1px solid $grey_4;
  border-radius: 1px;
}

.form__checkbox:checked+label::before {
  background-color: #4BD8B5;
}

.footer__nav {
  margin-bottom: 73px;

  .nav__link {
    color: $base;
  }

  .nav__item {
    margin-right: 73px;
  }
}

.footer__text_uppercase {
  margin-bottom: 35px;
}

.street {
  margin-bottom: 5px;
}

.open-hours {
  margin-bottom: 20px;
}

.phone {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
}

.email {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer__social {
  .social__list {
    flex-direction: row;
    justify-content: start;
  }

  .social__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 275px;
}

.line {
  border: none;
  color: $base;
  background-color: $base;
  height: .5px;
  margin-bottom: 28px;
}

.designer {
  margin-bottom: 5px;
}