@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 117%;
  font-weight: 400;
  color: #333333;
}

.big-wrapper {
  max-width: 1620px;
  margin: 0 auto;
}

.medium-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 790px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 83px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
}

.nav__link_active {
  padding-bottom: 3px;
  font-weight: 900;
  border-bottom: 1px solid #333333;
  cursor: default;
}

.switch__box {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F2F2;
  border-radius: 190px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__input:checked + .switch__slider {
  background-color: #4F4F4F;
}

.switch__input:checked + .switch__slider::before {
  -webkit-transform: translateX(21px);
  transform: translateX(21px);
  background-color: #1B1B1B;
  -webkit-box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
          box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
}

.first-screen {
  height: 940px;
  background: url("../assets/images/main-bg.jpg") no-repeat;
  background-size: cover;
}

.first-screen__title {
  max-width: 793px;
  margin-bottom: 37px;
  padding-top: 206px;
  font-size: 89px;
  font-weight: 900;
  line-height: 104px;
  color: #FEFEFE;
}

.first-screen__medium-wrapper {
  margin-bottom: 216px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 245px;
  height: 55px;
  font-size: 18px;
  color: #FEFEFE;
  text-transform: uppercase;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border: none;
  border-radius: 3px;
  outline: none;
}

.btn:focus, .btn:active {
  outline: none;
}

.watch-btn {
  padding-left: 76px;
  background: url("../assets/icons/watch-btn.svg") no-repeat 39px center, linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__item {
  margin-bottom: 15px;
}

.social__item:last-child {
  margin-bottom: 0;
}

.slider {
  position: absolute;
  top: 500px;
  left: 50%;
  right: 0;
  overflow: hidden;
  z-index: 1000;
}

.slider::before {
  content: url("../assets/icons/line.svg");
  position: absolute;
  top: 50%;
  z-index: -1;
}

.slider__container {
  padding-left: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item {
  padding-right: 46px;
}

.slider__item:last-child {
  margin-right: 0;
}

.slider__item_active .slider__picture {
  width: 245px;
  height: 352px;
  margin-bottom: 20px;
}

.slider__picture {
  width: 140px;
  height: 203px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 4px 50px rgba(152, 157, 198, 0.25);
          box-shadow: 5px 4px 50px rgba(152, 157, 198, 0.25);
}

.range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.range__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 245px;
  height: 5px;
  margin-top: 11px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 10px;
  background: #FEFEFE;
  cursor: pointer;
}

.range__input::-moz-range-thumb {
  width: 30px;
  height: 10px;
  background: #FEFEFE;
  cursor: pointer;
}

.range__max {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 900;
  color: #BDBDBD;
}

.range__value {
  font-size: 24px;
  line-height: 28px;
  color: #FEFEFE;
}

.how-it-works {
  padding-top: 100px;
}

.how-it-works__title {
  margin-bottom: 30px;
}

.how-it-works__text {
  margin-bottom: 30px;
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.how-it-works-slider__container {
  margin-bottom: 30px;
}

.how-it-works__range {
  margin-bottom: 32px;
}

.how-it-works__range .range__input {
  margin-top: 14px;
}

.how-it-works__range .range__input::-webkit-slider-thumb {
  width: 62px;
  height: 10px;
  background: #333333;
  cursor: pointer;
}

.how-it-works__range .range__input::-moz-range-thumb {
  width: 62px;
  background: #333333;
}

.how-it-works__range .range__value {
  color: #333333;
}

.how-it-works-btn {
  margin: 0 auto 101px;
}

.what-is-inspiring-us {
  background-color: #F2F2F2;
  padding-top: 100px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
  margin-bottom: 100px;
}

.card__icon {
  margin-bottom: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.card__title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

.card__text {
  margin-bottom: 32px;
}
/*# sourceMappingURL=style.css.map */