//подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  --constant_white: #FEFEFE;
  --base_gradient: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  --active_gradient: linear-gradient(160deg, #44cbd4, #2881ef);
  --bg-1: #FFFFFF;
  --bg-2: #F2F2F2;
  --heading: #333333;
  --text: #4F4F4F;
  --range-primary: #333333;
  --range-secondary: #BDBDBD;
  --testimonial-bg: #FEFEFE;
  --country: #333333;
  --checked-country: #DADADA;
  --pin_width: 70px;
}

html[data-theme='dark'] {
  --bg-1: #333333;
  --bg-2: #4F4F4F;
  --heading: #FEFEFE;
  --text: #F2F2F2;
  --range-primary: #FEFEFE;
  --testimonial-bg: #3B3B3B;
  --country: #E1E1E1;
  --checked-country: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text);
}

.big-wrapper {
  max-width: 1620px;
  margin: 0 auto;
}

.medium-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 790px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

// ***** HEADER STYLE *****

.header {
  background-color: var(--bg-1);
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  z-index: 1;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
  }
}

.logo-color {
  fill: var(--heading);
}

// navigation

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 572px;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-decoration: none;
    color: var(--heading);
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: var(--heading);
      height: 1px;
      transition: all .4s;
    }

    &:not(.nav__link_active):hover::after {
      width: 100%;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &_active {
      font-weight: 900;
      border-bottom: 1px solid var(--heading);
      cursor: default;
    }
  }
}

// switcher

.switch {
  &__box {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    border-radius: 190px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-2);
    border-radius: 190px;
    // -webkit-transition: .4s;
    // transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 6px;
      bottom: 5px;
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      // -webkit-transition: .4s;
      // transition: .4s;
    }
  }

  &__input:checked+.switch__slider {
    background-color: var(--bg-2);
  }

  &__input:checked+.switch__slider::before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
    background-color: #1B1B1B;
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
  }
}

// burger 
.header__menu {
  position: absolute;
  top: 25px;
  right: 0;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__menu span,
.header__menu span:before,
.header__menu span:after {
  width: 100%;
  position: absolute;
  height: 3px;
  background: var(--grey_1);
  display: block;
  transition: .3s;
  border-radius: 5px;
}

.header__menu span:before {
  content: "";
  top: -9px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__menu span {
  top: 20px;
}

.header__menu span:after {
  content: "";
  right: 0;
  bottom: -9px;
  width: 80%;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__menu span.active:before {
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header__menu span.active:after {
  content: "";
  bottom: 0;
  width: 100%;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.header__menu span.active {
  background: rgba(255, 255, 255, 0);
}

// ***** FIRST SCREEN STYLE *****

.first-screen {
  padding-bottom: 111px;
  background: url("../assets/images/main-bg.jpg") no-repeat;
  background-size: cover;

  &__title {
    max-width: 793px;
    margin-bottom: 37px;
    margin-left: 209px;
    padding-top: 206px;
    font-size: 89px;
    font-weight: 900;
    line-height: 104px;
    color: var(--constant_white);
  }
}

// button

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: var(--constant_white);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--base_gradient);
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 100;

  &:focus,
  &:active {
    outline: none;
  }

  &::before {
    border-radius: inherit;
    background-image: var(--active_gradient);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity .3s;
  }

  &:hover::before {
    opacity: 1;
  }
}

.watch-btn {
  justify-content: start;
  padding-left: 76px;
  background: url("../assets/icons/watch-btn.svg") no-repeat 39px center, var(--base_gradient);

  &::before {
    background: url("../assets/icons/watch-btn.svg") no-repeat 39px center, var(--active_gradient);
  }
}

.first-watch-btn {
  margin-left: 209px;
  margin-bottom: 216px;
}

// social networks

.social {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 107px;
  }

  &__icon {
    transition: all .3s;

    &:hover {
      transform: scale(1.4);
    }
  }

  &__link {

    &:active,
    &:focus {
      outline: none;
    }
  }
}

// first screen slider

.slider-wrapper {
  position: absolute;
  overflow: hidden;  
  top: 500px;
  left: 50.7%;
  right: 0;
  z-index: 1000;

  // &::before {
  //   position: absolute;
  //   top: calc(50% + 7px);
  //   left: -135px;
  //   content: "";
  //   width: 13px;
  //   height: 13px;
  //   border: 1px solid var(--constant_white);
  //   border-radius: 50%;
  //   background-color: var(--constant_white);
  //   padding: 3px;
  //   background-clip: content-box;
  // }

  // &::after {
  //   position: absolute;
  //   top: calc(50% + 13px);
  //   left: -130px;
  //   right: 0;
  //   content: "";
  //   z-index: -1;
  //   height: 1px;
  //   background-color: var(--constant_white);
  // }
}

.circle-line {
  display: flex;
}
.circle {
  &::before {
    position: absolute;
    top: calc(50% + 7px);    
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid var(--constant_white);
    border-radius: 50%;
    background-color: var(--constant_white);
    padding: 3px;
    background-clip: content-box;
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: calc(50% + 13px);
    
    right: 0;
    content: "";
    z-index: -1;
    height: 1px;
    background-color: var(--constant_white);
  }
}

.circle:first-child {
  &::before {
    left: -135px;
  }
  &::after {
    left: -130px;
  }
}

.circle:nth-child(2) {
  &::before {
    left: 75px;
  }
  &::after {
    left: 70px;
  }
}

.circle:nth-child(3) {
  &::before {
    left: 300px;
  }
  &::after {
    left: 295px;
  }
}
.circle:nth-child(4) {
  &::before {
    left: 520px;
  }
  &::after {
    left: 515px;
  }
}
.circle:nth-child(5) {
  &::before {
    left: 700px;
  }
  &::after {
    left: 695px;
  }
}
.circle:nth-child(6) {
  &::before {
    left: 870px;
  }
  &::after {
    left: 865px;
  }
}
.circle:nth-child(7) {
  &::before {
    left: 1035px;    
  }
  &::after {
    left: 1030px;
  }
}
.circle:nth-child(8) {
  &::before {
    left: 1200px;    
  }
  &::after {
    left: 1195px;
  }
}
.circle:nth-child(9) {
  &::before {
    left: 1380px;    
  }
  &::after {
    left: 1357px;
  }
}


.slider {
  overflow: hidden;
  height: 352px;

  &__container {
    display: flex;
    align-items: center;
    transition: all .4s;
  }

  &__item {
    // opacity: .5;
    padding: 0 15px;
    cursor: pointer;
    transition: all .4s;

    .description {
      display: none;
    }

    &_active {
      position: relative;
      margin-top: 0;

      &::after {
        content: '';
        position: absolute;
        margin: 0 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
        border-radius: 5px;
        opacity: 0;
        transition: all .4s;
      }

      &:after {
        opacity: 1;
        z-index: 10;
      }

      .description {
        display: block;
        transform: translateY(-120px);
      }

      .slider__picture {
        width: 245px;
        height: 352px;
        // transition: all ease-out .4s;
      }
    }
  }

  &__picture {
    width: 140px;
    height: 203px;
    border-radius: 5px;

  }
}

.slider__item:not(.slider__item_active):hover {
  transform: scale(1.2);  
}

.description {
  position: absolute;
  top: 352px;
  left: 35px;
  z-index: 100;
  transition: all .4s;

  &__text {
    color: var(--constant_white);
    font-size: 14px;
    line-height: 16px;
    max-width: 185px;
    margin-bottom: 16px;
  }

  &__btn {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--constant_white);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 0 4px 26px;
    transition: all .4s;

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &_watch {
      margin-right: 10px;
      color: #4BD8B5;
      background: url(../assets/icons/watch-btn-green.svg) left center no-repeat;
    }

    &_donate {
      background: url(../assets/icons/dollar.svg) left center no-repeat;
    }
  }
}

// range input

.range {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    appearance: none;
    width: 245px;
    height: 5px;
    margin-top: 14px;
    background: var(--range-secondary);
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 10px;
      background: var(--range-primary);
      cursor: pointer;
      transition: transform .2s;
    }

    &::-webkit-slider-thumb:hover {
      transform: scale(1.1);
    }

    &::-moz-range-thumb {
      width: 30px;
      height: 10px;
      background: var(--range-primary);
      cursor: pointer;
    }
  }

  &__max {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 900;
    color: var(--range-secondary);
  }

  &__value {
    font-size: 24px;
    line-height: 28px;
    color: var(--range-primary);
  }
}

.first-screen-range {

  position: absolute;
  left: 186px;
  margin-top: 20px;

  .range__value {
    color: var(--constant_white);
  }

  .range__input::-webkit-slider-thumb {
    background: var(--constant_white);
  }

  .range__input::-moz-range-thumb {
    background: var(--constant_white);
  }
}

// ***** HOW IT WORKS STYLE *****


.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: var(--heading);
}

.how-it-works {
  background-color: var(--bg-1);
  padding: 100px 0;

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.how-it-works-slider {
  &__container {
    margin-bottom: 30px;
  }

  &__item {
    max-width: 790px;
    height: 323px;
  }

  &__picture {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.how-it-works-range {
  margin-bottom: 32px;

  .range__input {
    margin-top: 14px;

    &::-webkit-slider-thumb {
      width: 62px;
    }

    &::-moz-range-thumb {
      width: 62px;
    }
  }
}

// ***** WHAT IS INSPIRING US STYLE *****

.what-is-inspiring-us {
  background-color: var(--bg-2);
  padding: 100px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--heading);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin: 0 15px;

  &__icon {
    margin-bottom: 15px;
    flex: 0 0 20px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 32px;
  }
}

// ***** PETS IN ZOO STYLE *****

.pets-in-zoo {
  padding: 100px 0 100px 0;
  background-color: var(--bg-1);
}

.pets-in-zoo-title {
  margin-bottom: 35px;
}

// pets in zoo slider

.pets-in-zoo-slider-container {
  position: relative;
}

.arrow {
  position: absolute;
  transition: all .4s;
  cursor: pointer;

  path {
    fill: var(--range-primary);
  }

  &:hover {
    transform: scale(1.4);
  }
}

.left-arrow {
  left: -44px;
  top: calc(50% - 15px)
}

.right-arrow {
  right: -44px;
  top: calc(50% - 15px)
}

.pets-in-zoo-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.pets-in-zoo-slider__track {
  display: flex;
  transition: all .4s;
}

.pets-in-zoo-slider__item {
  position: relative;
  margin: 0 10px;
  transition: all .4s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
    border-radius: 5px;
    opacity: 0;
    transition: all .4s;
  }

  &:hover::after {
    opacity: 1;
    z-index: 10;
  }

  &:hover {
    .description {
      top: 70%;
    }
  }
}

.pets-in-zoo-slider__item_active {
  .description {
    top: 70%;
  }

  &::after {
    opacity: 1;
    z-index: 10;
  }
}

.pets-in-zoo-slider__picture {
  // width: 277px;
  // height: 399px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.pets-in-zoo-slider__description {
  top: 100%;
}

.pets-in-zoo-range {
  margin-bottom: 30px;
}

// ***** PAY AND FEED STYLE *****

.pay-and-feed {
  background: var(--bg-2);
  padding: 100px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 92px;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    margin-bottom: 25px;
  }

  &__text {
    max-width: 135px;
    text-align: center;
  }
}

.gradient-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 245px;
  background: var(--base_gradient);
  border-radius: 50%;
}

.white-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 239px;
  background: var(--bg-2) center;
  border-radius: 50%;
}

// ***** TESTIMONIALS STYLE *****

.testimonials {
  padding: 100px 0;
  background-color: var(--bg-1);

  &__title {
    margin-bottom: 46px;
  }
}

.testimonials-slider-contaiter {
  position: relative;
  margin-bottom: 34px;
  width: 100%;
}

.testimonials-slider {
  display: flex;
  margin: 0 -15px;
  overflow: hidden;
  padding: 15px 0;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 310px;
  min-width: 585px;
  margin: 0 15px;
  padding: 47px 106px;
  background-color: var(--testimonial-bg);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;

  &__photo {
    position: relative;
    overflow: hidden;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-bottom: 17px;
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    object-fit: cover;
  }

  &__author {
    margin-bottom: 18px;
  }
}

.testimonials-range {
  margin-bottom: 30px;
}

// ***** MAP STYLE *****

.map-section {
  padding: 100px 0;
  background: var(--bg-2);
  transition: all .4s;

  &__title {
    margin-bottom: 60px;
  }
}

.tooltip {
  position: absolute;
  width: 436px;
  display: none;

  &__inner {
    display: flex;
    padding: 40px 0 44px 44px;
    background: var(--bg-1);
    border-radius: 8px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  }

  &__picture {
    margin-right: 20px;
    border-radius: 50%;
    flex: 0 0 65px;
  }

  &__title {
    margin-bottom: 7px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
  }

  &__text {
    color: var(--text);

    &_margin {
      margin-bottom: 7px;
    }

    span {
      font-weight: 500;
    }
  }
}

.tooltip-btn {
  display: none;
  min-width: 115px;
  height: 29px;
  margin-top: 15px;
  padding: 7px 9px 7px 29px;
  font-weight: 900;
  font-size: 13px;
  color: #4BD8B5;
  text-decoration: none;
  line-height: 15px;
  background: url(../assets/icons/tooltip-btn-icon.svg) 9px center no-repeat;
  border: 1px solid #4BD8B5;
  border-radius: 3px;
}

.tooltip:hover .tooltip-btn {
  display: inline-block;
}

.tooltip-eagle {
  top: 76px;
  right: 33px;
}

.tooltip-crocodile {
  top: 76px;
  right: 33px;
}

.tooltip-gorilla {
  top: 76px;
  left: 33px;
}

.tooltip-panda {
  top: 76px;
  left: 33px;
}

.map__pin:hover .tooltip {
  display: block;
  z-index: 10;
}

.svg-map {
  width: 100%;
  height: auto;

  path {
    fill: var(--country);
    stroke: var(--country);
  }

  .checked-country {
    fill: var(--checked-country);
  }
}

.map {
  position: relative;
  margin-bottom: 35px;

  &__pin {
    position: relative;
    background: url(../assets/icons/pin-green.svg) no-repeat;
    width: 70px;
    height: 94px;
    cursor: pointer;
    transition: all .4s;

    &_eagle {
      position: absolute;
      bottom: 66%;
      left: calc(13% - var(--pin_width) / 2);
    }

    &_crocodile {
      position: absolute;
      bottom: 60%;
      left: calc(23.5% - var(--pin_width) / 2);
    }

    &_gorilla {
      position: absolute;
      bottom: 43%;
      left: calc(51% - var(--pin_width) / 2);
    }

    &_panda {
      position: absolute;
      bottom: 63%;
      left: calc(77.5% - var(--pin_width) / 2);
    }

    &_hover:hover {
      background: url(../assets/icons/pin-red.svg) no-repeat;
    }
  }

  &__picture {
    position: absolute;
    top: 12.47px;
    left: 12px;
    width: 43px;
    height: 43px;

    &_eagle {
      background: url(../assets/images/pin-eagle.png) no-repeat;
    }

    &_crocodile {
      background: url(../assets/images/pin-crocodile.png) no-repeat;
    }

    &_gorilla {
      background: url(../assets/images/pin-gorilla.png) no-repeat;
    }

    &_panda {
      background: url(../assets/images/pin-panda.png) no-repeat;
    }
  }
}

// ***** FOOTER STYLE *****

.footer {
  padding: 99px 0 72px;
  background: #333333;
}

.footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.footer__top {
  display: flex;
}

.footer__bottom {
  display: flex;
}

.footer__left {
  width: 50%;
}

.footer__right {
  position: relative;
  width: 50%;
  padding-left: 15px;
}

.footer__logo {
  margin-bottom: 67px;
}

.footer__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;

  &_uppercase {
    text-transform: uppercase;
  }

  &_base {
    color: #FEFEFE;
    font-size: 14px;
    line-height: 16px;
  }
}

.form {
  width: 383px;

  &__title {
    margin-bottom: 30px;
    color: #FEFEFE;
  }

  &__input {
    display: block;
    width: 100%;
    padding-bottom: 9px;
    color: #FEFEFE;
    background: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #BDBDBD;
    }
  }

  &__name {
    margin-bottom: 20px;
  }

  &__email {
    margin-bottom: 23px;
  }

  &__legend {
    padding: 0 3px;
  }

  &__fieldset {
    height: 120px;
    padding: 3px;
    margin-bottom: 25px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    background: none;
    border: none;
    color: #FEFEFE;
  }

  &__submit {
    display: block;
    width: 110px;
    margin-right: 13px;
    margin-left: auto;
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #FEFEFE;
    background: none;
    background: url(../assets/icons/submit-arrow.svg) right center no-repeat;
    border: none;
  }
}

// checkbox

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.form__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 6px;
  border: 1px solid #BDBDBD;
  ;
  border-radius: 1px;
}

.form__checkbox:checked+label::before {
  background-color: #4BD8B5;
}

.footer__nav {
  padding-top: 20px;

  .nav__list {
    width: 380px;
  }

  .nav__link {
    color: #FEFEFE;

    &::after {
      background: #FEFEFE;
    }
  }
}

.footer__text_uppercase {
  margin-bottom: 35px;
}

.street {
  margin-bottom: 5px;
}

.open-hours {
  margin-bottom: 20px;
}

.phone {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
}

.email {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer__social {
  .social__list {
    flex-direction: row;
    justify-content: start;
  }

  .social__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 275px;
}

.line {
  border: none;
  color: #FEFEFE;
  background-color: #FEFEFE;
  height: .5px;
  margin-bottom: 28px;
}

.designer {
  margin-bottom: 5px;
}

// ***** ADAPTIVE *****

@import 'style-1200px';
@import 'style-640px';
@import 'style-320px';